*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.inc
Makefile.in
Makefile
aclocal.m4
autom4te.cache

#ChangeLog
VERSION

configure
configure.ac
config.log
config.status

# XXX FIXME: To be removed ASAP
tools/scripts/grub1-config
tools/scripts/grub1-config.sh
tools/scripts/grub2-config
tools/scripts/grub2-config.sh
tools/scripts/mkiso-grub1
tools/scripts/mkiso-grub1.sh
tools/scripts/mkiso-grub2
tools/scripts/mkiso-grub2.sh
# XXX FIXME: To be removed ASAP

src/kernel
src/system.map
src/system.sym

src/config/rules.usr
src/config/autoconfig.h.in
src/config/autoconfig.h
src/config/stamp-h1
src/config/version.h
src/config/Makefile.cfg

src/config/rules.all
src/config/rules.out
src/config/userconfig.h
src/core/syscalls.h
src/rules.pkg

src/arch
src/archs/*/kernel.ld
src/archs/*/module.ld
src/core/build.h

docs/info/hybrid.info
docs/doxygen
docs/Doxyfile

tools/autotools/compile
tools/autotools/config.guess
tools/autotools/config.sub
tools/autotools/depcomp
tools/autotools/install-sh
tools/autotools/mdate-sh
tools/autotools/missing
tools/autotools/mkinstalldirs
tools/autotools/texinfo.tex
tools/autotools/ylwrap

tools/libs/awk/lib.awk
tools/libs/sh/lib.sh
tools/libs/perl/lib.pl

tools/scripts/test-exp.txt
tools/scripts/test-in.txt
tools/scripts/test-out.txt

tools/scripts/fetch
tools/scripts/whitespace-detect
tools/scripts/bin2source
tools/scripts/bin2source.awk
tools/scripts/bin2source.sh
tools/scripts/bootcheck
tools/scripts/bootcheck.awk
tools/scripts/bootcheck.sh
tools/scripts/clhandler
tools/scripts/clhandler.awk
tools/scripts/clhandler.sh
tools/scripts/obj2symstab
tools/scripts/obj2symstab.awk
tools/scripts/obj2symstab.sh
tools/scripts/getdefine
tools/scripts/getdefine.awk
tools/scripts/getdefine.sh
tools/scripts/guardscheck
tools/scripts/guardscheck.awk
tools/scripts/guardscheck.sh
tools/scripts/ifdefscheck
tools/scripts/ifdefscheck.awk
tools/scripts/ifdefscheck.sh
tools/scripts/includescheck
tools/scripts/includescheck.awk
tools/scripts/includescheck.sh
tools/scripts/map2ie
tools/scripts/map2ie.awk
tools/scripts/map2ie.sh
tools/scripts/mergesyms
tools/scripts/mergesyms.awk
tools/scripts/mergesyms.sh
tools/scripts/mkbuild
tools/scripts/mkbuild.awk
tools/scripts/mkbuild.sh
tools/scripts/mksyscalls
tools/scripts/mksyscalls.awk
tools/scripts/mksyscalls.sh
tools/scripts/rules2syms
tools/scripts/rules2syms.awk
tools/scripts/rules2syms.sh
tools/scripts/sections
tools/scripts/sections.awk
tools/scripts/sections.sh
tools/scripts/sh2h
tools/scripts/sh2h.awk
tools/scripts/sh2h.sh
tools/scripts/stackcheck
tools/scripts/stackcheck.awk
tools/scripts/stackcheck.sh
tools/scripts/symstab2map
tools/scripts/symstab2map.awk
tools/scripts/symstab2map.sh

tools/choose/choose
tools/choose/choose.sh

tools/choose/lkc/conf
tools/choose/lkc/mconf
tools/choose/lkc/zconf-parser.output
tools/choose/lkc/zconf-parser.c
tools/choose/lkc/zconf-parser.h
tools/choose/lkc/zconf-scanner.c
tools/choose/lkc/lkc_defs.h

tools/choose/packrules/packrules

tools/choose/include/config.h.in
tools/choose/include/config.h
tools/choose/include/stamp-h1

tools/choose/tools/autotools/compile
tools/choose/tools/autotools/config.guess
tools/choose/tools/autotools/config.sub
tools/choose/tools/autotools/depcomp
tools/choose/tools/autotools/install-sh
tools/choose/tools/autotools/mdate-sh
tools/choose/tools/autotools/missing
tools/choose/tools/autotools/mkinstalldirs
tools/choose/tools/autotools/texinfo.tex
tools/choose/tools/autotools/ylwrap

tools/choose/tools/scripts/NEWS-query
tools/choose/tools/scripts/fetch
tools/choose/tools/scripts/gitlog2ChangeLog
tools/choose/tools/scripts/whitespace-detect

site/in/.sitetool
site/in/site.stamp
site/out/*
