*~

/site/Makefile
/site/Makefile.in
/site/in/.sitetool
/site/in/site.stamp
/site/in/todos.sxml
/site/in/todos.dump
/site/in/news.sxml
/site/in/news.dump
/site/out/*

.dnt.db
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/configure.ac
/site/in/Makefile
/site/in/Makefile.in
/tools/autotools/
/tools/maint/
/utils/