*~
.deps
.dirstamp
*.o
*.a
Makefile.inc
Makefile.in
Makefile

/ChangeLog
/VERSION
/NEWS
/TODO
/AUTHORS

/.version
/.tarball-version

/TAGS
/aclocal.m4
/autom4te.cache

/configure
/config.log
/config.status

/src/kernel
/src/system.map
/src/system.sym

/src/init/version.h
/src/core/syscalls.h

/src/config/rules.usr
/src/config/autoconfig.h.in
/src/config/autoconfig.h
/src/config/stamp-h1
/src/config/Makefile.cfg

/src/config/rules.all
/src/config/rules.out
/src/config/userconfig.h
/src/rules.pkg

/src/arch
/src/archs/*/kernel.ld
/src/archs/*/module.ld

/docs/info/hybrid.info
/docs/doxygen
/docs/Doxyfile

/tools/autotools/compile
/tools/autotools/config.guess
/tools/autotools/config.sub
/tools/autotools/depcomp
/tools/autotools/install-sh
/tools/autotools/mdate-sh
/tools/autotools/missing
/tools/autotools/mkinstalldirs
/tools/autotools/texinfo.tex
/tools/autotools/ylwrap

/tools/autotools/m4/perl-autofrisk-data.m4

/tools/maint/fetch
/tools/maint/whitespace-detect
/tools/maint/gitlog-to-committers
/tools/maint/gittag-to-date

/tools/scripts/libs/awk/lib.awk
/tools/scripts/libs/sh/lib.sh
/tools/scripts/libs/perl/lib.pl

/tools/scripts/maint/guardscheck
/tools/scripts/maint/guardscheck.pl

/tools/scripts/dev/obj2symstab
/tools/scripts/dev/obj2symstab.awk
/tools/scripts/dev/obj2symstab.sh
/tools/scripts/dev/ifdefscheck
/tools/scripts/dev/ifdefscheck.awk
/tools/scripts/dev/ifdefscheck.sh
/tools/scripts/dev/includescheck
/tools/scripts/dev/includescheck.awk
/tools/scripts/dev/includescheck.sh
/tools/scripts/dev/mksyscalls
/tools/scripts/dev/mksyscalls.awk
/tools/scripts/dev/mksyscalls.sh
/tools/scripts/dev/sections
/tools/scripts/dev/sections.awk
/tools/scripts/dev/sections.sh
/tools/scripts/dev/stackcheck
/tools/scripts/dev/stackcheck.awk
/tools/scripts/dev/stackcheck.sh
/tools/scripts/dev/symstab2map
/tools/scripts/dev/symstab2map.awk
/tools/scripts/dev/symstab2map.sh

/tools/scripts/usr/bootcheck
/tools/scripts/usr/bootcheck.sh
/tools/scripts/usr/clhandler
/tools/scripts/usr/clhandler.awk
/tools/scripts/usr/clhandler.sh
/tools/scripts/usr/getdefine
/tools/scripts/usr/getdefine.sh
/tools/scripts/usr/mergesyms
/tools/scripts/usr/mergesyms.awk
/tools/scripts/usr/mergesyms.sh
/tools/scripts/usr/mkbuild
/tools/scripts/usr/mkbuild.sh
/tools/scripts/usr/rules2syms
/tools/scripts/usr/rules2syms.sh
/tools/scripts/usr/sh2h
/tools/scripts/usr/sh2h.sh
/tools/scripts/usr/flhandler
/tools/scripts/usr/flhandler.sh
/tools/scripts/usr/mergesyms_new
/tools/scripts/usr/mergesyms_new.sh
/tools/scripts/usr/packrules
/tools/scripts/usr/packrules.pl

/site/out/*
/site/in/.sitetool
/site/in/site.as
/site/in/site.stamp
/site/in/todos.sxml
/site/in/todos.dump
/site/in/news.sxml
/site/in/news.dump
