*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

lkc/zconf-parser.output

build

Makefile.sub
Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog
VERSION

configure
config.log
config.status

site/site.stamp

tools/autotools/compile
tools/autotools/config.guess
tools/autotools/config.sub
tools/autotools/depcomp
tools/autotools/install-sh
tools/autotools/mdate-sh
tools/autotools/missing
tools/autotools/mkinstalldirs
tools/autotools/texinfo.tex
tools/autotools/ylwrap

tools/libs/awk/lib.awk
tools/libs/sh/lib.sh
tools/libs/perl/lib.pl

tools/scripts/NEWS-query
tools/scripts/fetch
tools/scripts/gitlog2ChangeLog
tools/scripts/bin2source
tools/scripts/bin2source.awk
tools/scripts/bin2source.sh
tools/scripts/bootcheck
tools/scripts/bootcheck.awk
tools/scripts/bootcheck.sh
tools/scripts/clhandler
tools/scripts/clhandler.awk
tools/scripts/clhandler.sh
tools/scripts/elf2symstab
tools/scripts/elf2symstab.awk
tools/scripts/elf2symstab.sh
tools/scripts/getdefine
tools/scripts/getdefine.awk
tools/scripts/getdefine.sh
tools/scripts/guardscheck
tools/scripts/guardscheck.awk
tools/scripts/guardscheck.sh
tools/scripts/ifdefscheck
tools/scripts/ifdefscheck.awk
tools/scripts/ifdefscheck.sh
tools/scripts/includescheck
tools/scripts/includescheck.awk
tools/scripts/includescheck.sh
tools/scripts/map2ie
tools/scripts/map2ie.awk
tools/scripts/map2ie.sh
tools/scripts/mergesyms
tools/scripts/mergesyms.awk
tools/scripts/mergesyms.sh
tools/scripts/mkbuild
tools/scripts/mkbuild.awk
tools/scripts/mkbuild.sh
tools/scripts/mksyscalls
tools/scripts/mksyscalls.awk
tools/scripts/mksyscalls.sh
tools/scripts/rules2syms
tools/scripts/rules2syms.awk
tools/scripts/rules2syms.sh
tools/scripts/sections
tools/scripts/sections.awk
tools/scripts/sections.sh
tools/scripts/sh2h
tools/scripts/sh2h.awk
tools/scripts/sh2h.sh
tools/scripts/stackcheck
tools/scripts/stackcheck.awk
tools/scripts/stackcheck.sh
tools/scripts/symstab2map
tools/scripts/symstab2map.awk
tools/scripts/symstab2map.sh
