*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

choose
choose.sh

lkc/conf
lkc/mconf
lkc/zconf-parser.output
lkc/zconf-parser.c
lkc/zconf-parser.h
lkc/zconf-scanner.c

packrules/packrules

include/config.h.in
include/config.h
include/stamp-h1

build

#Makefile.sub
Makefile.in
Makefile
aclocal.m4
autom4te.cache

#ChangeLog
VERSION

configure
config.log
config.status

site/site.stamp

tools/autotools/compile
tools/autotools/config.guess
tools/autotools/config.sub
tools/autotools/depcomp
tools/autotools/install-sh
tools/autotools/mdate-sh
tools/autotools/missing
tools/autotools/mkinstalldirs
tools/autotools/texinfo.tex
tools/autotools/ylwrap

tools/libs/awk/lib.awk
tools/libs/sh/lib.sh
tools/libs/perl/lib.pl

tools/scripts/NEWS-query
tools/scripts/fetch
tools/scripts/gitlog2ChangeLog
